<h1>Reactive from Hero</h1>

<form (ngSubmit)="addUserHero()" [formGroup]="form">

    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" ngModel formControlName="name" name="name" class="form-control" id="name" required>
        <!-- <p [ngClass]="this.form.get('name')?.invalid ? 'd-none' : 'd-block bg-danger p-2' ">Campo obbligatorio</p> -->
    </div>

    <div class="mb-3">
        <label for="alterEgo" class="form-label">Alter Ego</label>
        <input type="text" ngModel name="alterEgo" formControlName="alterEgo" class="form-control" id="alterEgo"
            required>
        <!-- <p [ngClass]="this.form.get('name')?.invalid ? 'd-none' : 'd-block bg-danger p-2' ">Campo obbligatorio</p> -->
    </div>

    <div class="mb-3">
        <label for="power" class="form-label">Power</label>
        <input type="text" ngModel formControlName="power" name="power" class="form-control" id="power">
    </div>

    <div class="mb-3">
        <label for="enemy" class="form-label">Enemy</label>
        <input type="text" ngModel formControlName="enemy" name="enemy" class="form-control" id="enemy">
    </div>

    <div class="mb-3">
        <label for="planet" class="form-label">Planet</label>
        <input type="text" ngModel formControlName="planet" name="planet" class="form-control" id="planet" required>
        <!-- <p [ngClass]="this.form.get('name')?.invalid ? 'd-none' : 'd-block bg-danger p-2' ">Campo obbligatorio</p> -->
    </div>

    <div class="mb-3">
        <label for="weakness" class="form-label">Weakness</label>
        <input type="text" ngModel formControlName="weakness" name="weakness" class="form-control" id="weakness">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>